doctype html(lang='en')
head
  meta(charset='utf-8')
  link(href='/stylesheets/squadfree/css/bootstrap.min.css', rel='stylesheet', type='text/css')
    |     
  meta(name='viewport', content='width=device-width, initial-scale=1.0')
    |     
  meta(name='description', content='')
    |     
  meta(name='author', content='')
    |     
  title Elab
  // Bootstrap Core CSS
  link(href='/stylesheets/squadfree/css/bootstrap.min.css', rel='stylesheet', type='text/css')
  // Fonts
  link(href='/stylesheets/squadfree/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    | &#x9;
  link(href='/stylesheets/squadfree/css/animate.css', rel='stylesheet')
    // Squad theme CSS
  link(href='//stylesheets/squadfree/css/style.css', rel='stylesheet')
    | &#x9;
  link(href='/stylesheets/color/default.css', rel='stylesheet')
  
  /////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  // MetisMenu CSS
    link(href='/stylesheets/bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
    // Timeline CSS
    link(href='/stylesheets/bower_components/startbootstrap-sb-admin-2/dist/css/timeline.css', rel='stylesheet')
    // Custom CSS
    link(href='/stylesheets/bower_components/startbootstrap-sb-admin-2/dist/css/sb-admin-2.css', rel='stylesheet')
    // Morris Charts CSS
    link(href='/stylesheets/bower_components/morrisjs/morris.css', rel='stylesheet')
    // Custom Fonts
    link(href='/stylesheets/bower_components/font-awesome/css/font-awesome.min.css', rel='stylesheet', type='text/css')
    // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
    script(src="/js/lib/common/common.js")
    script(src="/js/lib/drive/driveConvertResponse.js")
    script(src="/js/lib/drive/driveCRUD.js")
    script(src="/js/lib/drive/driveInfo.js")
    script(src="/js/lib/drive/driveFilters.js")
    script(src="/js/lib/dropbox/dropboxInfo.js")
    script(src="/js/lib/dropbox/dropboxCRUD.js")
  ///////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////////
  
  body#page-top(data-spy='scroll', data-target='.navbar-custom')
    // Preloader
    #preloader
      #load
    |     
    nav.navbar.navbar-custom.navbar-fixed-top(role='navigation')
      .container
        .navbar-header.page-scroll
          button.navbar-toggle(type='button', data-toggle='collapse', data-target='.navbar-main-collapse')
            i.fa.fa-bars
          |                 
          a.navbar-brand
        // Collect the nav links, forms, and other content for toggling
        .collapse.navbar-collapse.navbar-right.navbar-main-collapse
          ul.nav.navbar-nav
                    // /.navbar-collapse
      // /.container
    // Section: intro
    section#intro.intro
      .slogan
        | &#x9;&#x9;&#x9;
      
      | &#x9;&#x9;
      .page-scroll
        a.btn.btn-circle(href='#service')
          i.fa.fa-angle-double-down.animated
    // /Section: intro
    
    // Section: services
    section#service.home-section.text-center.bg-gray
      .heading-about
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .wow.bounceInDown(data-wow-delay='0.4s')
                .section-heading
                  h2(style='text-align: center; color: black; font-size:32px') Our Project
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-2x.fa-angle-down
      | &#x9;&#x9;
      h5 The goal of the Elab project is to implement an all-in-one web interface for users to effectively manage their files in multiple cloud storage devices. Our platform utilizes the Dropbox, Google Drive, and OneDrive API's. We hope that Elab facilitates research and collaboration on the Internet.
      .container
        .row
          .col-lg-2.col-lg-offset-5
            hr.marginbot-50
        |         
        .row
          .col-sm-3.col-md-3
            .wow.fadeInLeft(data-wow-delay='0.2s')
              .service-box
                .service-icon
                  //img(src='img/icons/service-icon-1.png', alt='')
                | &#x9;&#x9;&#x9;&#x9;&#x9;
                .service-desc
                     
    // /Section: services
        
    // Section: about
    section#about.home-section.text-center
      .heading-about
        .container
          .row
            .col-lg-8.col-lg-offset-2
              .wow.bounceInDown(data-wow-delay='0.4s')
                .section-heading
                  h2 Developers
                  | &#x9;&#x9;&#x9;&#x9;&#x9;
                  i.fa.fa-2x.fa-angle-down
      | &#x9;&#x9;
      
      .container
        .row
          .col-lg-2.col-lg-offset-5
            hr.marginbot-50
        |         
        .row
          .col-xs-6.col-sm-3.col-md-4
            .wow.bounceInUp(data-wow-delay='0.2s')
              .team.boxed-grey
                .inner
                  h5 Johnny Ho
                  |                         
                  p.subtitle Full-Stack Developer
                  |                         
                  .avatar
                  	img.img-responsive.img-circle(src='/images/Johnny Elab.jpg'), alt='')
          | &#x9;&#x9;&#x9;
          .col-xs-6.col-sm-3.col-md-4
            .wow.bounceInUp(data-wow-delay='0.5s')
              .team.boxed-grey
                .inner
                  h5 Arko Dewri
                  |                         
                  p.subtitle Backend Developer
                  |                         
                  .avatar
                    img.img-responsive.img-circle(src='/images/Arko elab.jpg', alt='')
          | &#x9;&#x9;&#x9;
          .col-xs-6.col-sm-3.col-md-4
            .wow.bounceInUp(data-wow-delay='0.8s')
              .team.boxed-grey
                .inner
                  h5 Matthew Lin
                  |                         
                  p.subtitle Frontend Developer
                  |                         
                  .avatar
                    img.img-responsive.img-circle(src='/images/Matthew elab.jpg', alt='')
    // /Section: about
    
        footer
      .container
        .row
          .col-md-12.col-lg-12
            .wow.shake(data-wow-delay='0.4s')
              .page-scroll.marginbot-30
                a#totop.btn.btn-circle(href='#intro')
                  i.fa.fa-angle-double-up.animated
            | &#x9;&#x9;&#x9;&#x9;&#x9;
            p &copy;Copyright 2015 - UCLA Simul8 Group. All rights reserved.
    // Core JavaScript Files
    script(src='/stylesheets/squadfree/js/jquery.min.js')
    |     
    script(src='/stylesheets/squadfree/js/bootstrap.min.js')
    |     
    script(src='/stylesheets/squadfree/js/jquery.easing.min.js')
    | &#x9;
    | &#x9;
    script(src='/stylesheets/squadfree/js/jquery.scrollTo.js')
    | &#x9;
    script(src='/stylesheets/squadfree/js/wow.min.js')
    // Custom Theme JavaScript
    script(src='/stylesheets/squadfree/js/custom.js')
