doctype html(lang='en')
head
    // ---------------------------startbootstrap-sb-admin-2----------
    meta(charset='utf-8')
    |     
    meta(http-equiv='X-UA-Compatible', content='IE=edge')
    |     
    meta(name='viewport', content='width=device-width, initial-scale=1')
    |     
    meta(name='description', content='')
    |     
    meta(name='author', content='')
    |     
    title UCLA Library web app---eLab
    // Bootstrap Core CSS
    link(href='/stylesheets/bower_components/bootstrap/dist/css/bootstrap.min.css', rel='stylesheet')
    // MetisMenu CSS
    link(href='/stylesheets/bower_components/metisMenu/dist/metisMenu.min.css', rel='stylesheet')
    // Timeline CSS
    link(href='/stylesheets/bower_components/startbootstrap-sb-admin-2/dist/css/timeline.css', rel='stylesheet')
     // HTML5 Shim and Respond.js IE8 support of HTML5 elements and media queries
    // WARNING: Respond.js doesn't work if you view the page via file://
    //if lt IE 9
      script(src='https://oss.maxcdn.com/libs/html5shiv/3.7.0/html5shiv.js')
      |         
      script(src='https://oss.maxcdn.com/libs/respond.js/1.4.2/respond.min.js')
    // ------------------------End startbootstrap
    // ----------------------Elab------------
    title= 'eLab'
    link(rel='stylesheet', href='http://fonts.googleapis.com/css?family=Source+Sans+Pro:400,600,700,300,400italic')
    link(rel='stylesheet', href='/stylesheets/bootstrap/customBootstrap.css')
    link(rel='stylesheet', href='/stylesheets/style.css')
    <!--Master sheets-->
    link(rel='stylesheet', href='/stylesheets/workspace/masterSheet_workspace.css')
    <!--Developed libraries for LabBook-->
    script(src="/js/lib/common/common.js")
    script(src="/js/lib/drive/driveConvertResponse.js")
    script(src="/js/lib/drive/driveCRUD.js")
    script(src="/js/lib/drive/driveInfo.js")
    script(src="/js/lib/drive/driveFilters.js")
    script(src="/js/lib/dropbox/dropboxInfo.js")
    script(src="/js/lib/dropbox/dropboxCRUD.js")
    
    <!--Google Drive JS api-->
    script(type="text/javascript", src="https://apis.google.com/js/client.js?onload=handleClientLoad")
    
    <!--Dropbox Drive api-->
    script(type="text/javascript", src="//cdnjs.cloudflare.com/ajax/libs/dropbox.js/0.10.2/dropbox.min.js")
    
    <!--bootstrap.js is being run when requireJS is first loaded-->
    script(type="text/javascript", data-main="/js/bootstrap", src="/js/lib/requirejs/require-min.js")
    
    <!--Socket.io-->
    <!--script(src="/socket.io/socket.io.js")-->
    
    <!--Dynatree-->
    link(rel="stylesheet",href="/js/lib/jquery.dynatree-1.2.5-all/src/skin-vista/ui.dynatree.css")
   
    <!--scrollbar-->
    <!--link(rel='stylesheet', href='/js/lib/nanoScroller/nanoscroller.css')-->
    
    <!--custom-scrollar-->
    link(rel='stylesheet', href='/js/lib/custom-scrollbar/jquery.mCustomScrollbar.css')
    
    <!--bootstrap-editbale-->
    link(rel='stylesheet', href='/js/lib/bootstrap-editable/css/bootstrap-editable.css')
   
    <!--sidebar-->
    link(rel='stylesheet', href='/js/lib/sidebar/css/dark-glass/sidebar.css')  
    
    <!--Spinner for loading icon-->
    <!-- script(src="/js/lib/spin/spin.js")-->
    
    <!--w2UI css for tag system-->
    <!-- link(rel='stylesheet', href='/js/lib/w2ui-1.3.2/w2ui-1.3.2.css') -->
    
    <!--tagManger for nicely looking tag-->
    link(rel='stylesheet', href='/js/lib/tagManager/tagmanager.css')
    
    <!--sticky notes; add new font from google-->
    link(href="http://fonts.googleapis.com/css?family=Reenie+Beanie:regular",rel="stylesheet",type="text/css")
    link(rel='stylesheet', href='/js/lib/stickyNote/stickyNote.css')
                
    // --------------end elab  
  body
    #wrapper      
      #page-wrapper
        .row
          div(class="wMainView-subContainer")
            div(class="row site-main")
              input(type="button", class="btn btn-warning", id="authorizeButton", style="display: none", value="Authorize")
              block content              
        // /.row
      // /#page-wrapper
    // /#wrapper
    
    // ---------------------------Javascript for the theme-----
    // ------We are not loading any JS here because it is handled in require js, however, it is pretty slow. In engineering, let's stick with this way. But in user perspective, we may reconsider
    //script(src='/stylesheets/bower_components/jquery/dist/jquery.min.js')
    
    // Bootstrap Core JavaScript
    //script(src='/stylesheets/bower_components/bootstrap/dist/js/bootstrap.min.js')
    
    // Metis Menu Plugin JavaScript
    //script(src='/stylesheets/bower_components/metisMenu/dist/metisMenu.min.js')
    
    // Morris Charts JavaScript.
    // For some reason, raphael-min.js creates error
    //script(src='/stylesheets/bower_components/raphael/raphael-min.js')
    |     
    // script(src='/stylesheets/bower_components/morrisjs/morris.min.js')
    |     
    // script(src='/stylesheets/bower_components/startbootstrap-sb-admin-2/js/morris-data.js')
    
    // Custom Theme JavaScript
    //script(src='/stylesheets/bower_components/startbootstrap-sb-admin-2/dist/js/sb-admin-2.js')
