<div id="tfheader">
  <div class="btn-group inline">
    <div class="addDriveFiles inline">
      <input type="image" class="icons dropdown-toggle" id="driveFilesAdder" src="/icons/addDriveFile_32x32.png" data-toggle="dropdown"/>
      <ul class="dropdown-menu" role="menu">
        <li class="addGFile" id="GDoc"><a role="menuitem" href="#">GDoc</a></li>
        <li class="addGFile" id="GSheet"><a href="#">GSpreadSheet</a></li>
        <li class="addGFile" id="GPresentation"><a href="#">GPresentation</a></li>
        <!-- <li class="addGFile" id="GForm"><a href="#">GForm</a></li> -->
        <li class="addGFile" id="GDrawing"><a href="#">GDrawing</a></li>
      </ul>
    </div>
  </div>
  <div class="upload inline icons">
    <input type="file" id="filePicker">
  </div>
  <div class="addProtocol inline icons">
    <input type="image" class="icons" id="newProtocol" src="/icons/lab_protocol_32x32.png">
  </div>
  <!-- 
  <div class="createProject inline">
    <input type="image" class="icons" id="projectCreater" src="/icons/folder_32x32.png">
  </div>
  -->
  <div class="checkStorage inline">
    <input type="image" class="icons" id="storager" src="/icons/storage_32x32.png">
  </div>
  
  <!--  
  <div class="shareLabBook inline">
    <input type="image" class="icons" id="sharer" src="/icons/share_32x32.png">
  </div>
  -->
  
  <!-- 
  <div class="findUser inline">
    <input type="image" class="icons" id="userLister" src="/icons/user_32x32.png">
  </div>
  -->
  <!--
  <div class="input-append">
    <input class="span12 searchTextInput" id="appendedInputButtons" type="text">
    <button class="btn" type="button" id="searchButton">Search</button>
  </div>
  <div class="searchClear"></div>
  -->
</div>


