<td class="check"><input type="checkbox" value="<%=id%>" data-filename="<%=title %>" name="check1"></td>
<td>
  <i class="icon-circle-arrow-down download dialog-window" rel="tooltip" title="Download"></i>
  <i class="icon-edit rename dialog-window" rel="tooltip" title="Rename"></i>
  <i class="icon-book detail" rel="tooltip" title="Detail"></i>
  <a href="<%=link%>" target="_blank"><i class="icon-globe link" rel="tooltip" title="Link"></i></a>
  <i class="icon-trash delete" rel="tooltip" title="Delete"></i>
</td>
<td class="title"><a href="<%=link%>" target="_blank"><%=title %></a></td>
<td class="modifiedDate"><%=modifiedDate %></td>
<td class="role"><%=permission.role %></td>
<td class="fileType"><%=mimeType%></td>