<div id="tfheader">
  <div class="createProject inline">
    <input type="image" class="icons" id="projectCreater" src="/icons/newlabproject_32x32.png">
  </div>
  <div class="checkStorage inline">
    <input type="image" class="icons" id="storager" src="/icons/storage_32x32.png">
  </div>
  
  <div class="findUser inline">
    <input type="image" class="icons" id="userLister" src="/icons/user_32x32.png">
  </div>
  <div class="input-append">
    <input class="span12 searchTextInput" id="appendedInputButtons" type="text">
    <button class="btn" type="button" id="searchButton">Search</button>
  </div>
  <div class="searchClear"></div>
</div>


