/*General Style*/

a {
	color: #3F83BA;
}

div.mainPanel{
	display:none;
}

.navigation{
	cursor: pointer;
}

.navbar-in {
	background-color: #3F83BA;	
	min-height: 40px;
	padding-left: 20px;
	padding-right: 20px;
}

.header-logo {
	font-family: 'Source Sans Pro', sans-serif;
	color: white;
    display: block;
    float: left;
    font-size: 30px;
    font-weight: 700;
    margin-left: -20px;
    margin-top: 2px;
    padding: 8px 20px;
}

.header-links{
    color: #FFFFFF;
    display: block;
    float: none;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: 400;
    margin-top: 3px;
    padding: 10px 15px;
    text-decoration: none;
}

.header-user {
	color: #FFFFFF;
    font-family: 'Source Sans Pro',sans-serif;
    font-size: 14px;
    font-weight: 600;
    padding: 10px 5px;
}

.header-margin{
	margin-top: 7px;
}

.caret-white {
    border-left: 4px solid rgba(0, 0, 0, 0);
    border-right: 4px solid rgba(0, 0, 0, 0);
    border-top: 4px solid #FFFFFF;
    content: "";
    display: inline-block;
    height: 0;
    vertical-align: top;
    width: 0;
    margin-left: 2px;
    margin-top: 8px;
}

.files-header{
	font-size: 17.5px;
	margin-right: 12px;
	color: inherit;
	font-family: inherit;
	font-weight: 300;
	line-height: 20px;
	text-rendering: optimizelegibility;
	margin-bottom: 5px;
}

.owner-header{
	float: left;
	font-size: 15px;
	margin-right: 15px;
    color: inherit;
    font-family: inherit;
    line-height: 20px;
    text-rendering: optimizelegibility;
}

.owner-header-name{
	float: left;
	font-size: 15px;
	margin-right: 15px;
    color: inherit;
    font-family: inherit;
    line-height: 20px;
    text-rendering: optimizelegibility;
}
.user-pic{
	background-size: 30px 30px;
    border-radius: 50% 50% 50% 50%;
    height: 30px;
    margin-right: 4px;
    width: 32px;
}
.overview-box{
    background-color: #EEEEEE;
    border-radius: 6px 6px 6px 6px;
    color: inherit;
    font-size: 14px;
    font-weight: 200;
    line-height: 20px;
    margin-bottom: 20px;
    padding: 20px;
}